.table {
    border-collapse: collapse;
    width: 100%;
}

.th, .td {
    font-size: 13px;
    padding: 5px;
    padding-right: 10px;
    text-align: left;
}


.tr:nth-child(odd) {
    background-color: gainsboro;
    border-color: black;
    border-style: groove;
}

.th {
    background-color: darkseagreen;
    color: white;
}

.header img {
    float: right;
    height: 50px;
    margin-right: 10px;
    width: 50px;
}

.header h3 { text-align: center; }

.header {
    border: 2px solid darkseagreen;
    border-radius: 15px;
    margin-bottom: 10px;
}


.square {
    background-color: cadetblue;
    float: left;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
    width: 200px;
}

.triangleRight {
    border-bottom: 25px solid aliceblue;
    border-left: 50px solid cadetblue;
    border-top: 25px solid aliceblue;
    float: left;
    height: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 0;
}

.text {
    background-color: aliceblue;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 58%;
}